<h2>Task Details:</h2>
<hr class="hr-divide">
<div class="row">
	<div class="col-md-6">
	

	<p>
	  <strong>Label:</strong>
	  <%= @task.label %>
	</p>

	<p>
		<strong>Category:</strong>
		<%= @task.category.label %>
	<p>
	  <strong>Due date:</strong>
	  <%= @task.due_date.to_time.strftime("%A, %B %-d, %Y at %l:%M %p") %>
	</p>
	<% if @task.completion_date %>
		<p>
		  <strong>Completion Date:</strong>
		  <%= @task.completion_date.to_time.strftime("%A, %B %-d, %Y at %l:%M %p") %>
		</p>
	<% end %>

	</div>
</div>

<hr class="hr-divide">

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
