<h2><%= @user.first_name %>'s Profile</h2>
<hr class="hr-divide">
<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>API Key:</strong>
  <%= @user.single_access_token %>
</p>
<hr class="hr-divide">
<%= link_to 'Edit', edit_user_path(@user) %>
