<h2>Category Details</h2>
<div class="row">
	<div class="col-md-6">
		<p>
		  <strong>Label:</strong>
		  <%= @category.label %>
		</p>
		<p>
			<strong>Number of Tasks:</strong>
			<%= @category.tasks.count %>
		</p>
		<p>
			<strong>Sync Value:</strong>
			<%= @category.sync.to_s %>
		</p>
	</div>
	<div class="col-md-6">
		<table class="table">
			<thead>
				<tr>
					<th>Task</th>
					<th>Due Date</th>
				</tr>
			</thead>
			<tbody>
				<% @category.tasks.each do |task| %>
					<tr>
						<td><%= task.label %></td>
						<td><%= task.due_date.to_time.strftime("%A, %B %-d, %Y at %l:%M %p") %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<hr class="hr-divider">


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
